@media (min-width: 575px) {
  .container {
    max-width: 540px;
    margin-inline: auto;
  }

  .card__list {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr !important;
      gap: 10px;
    }
  }

  .dropdown__content
  {
    &.active{
      left: calc(100% - 345px);
    }
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
    margin-inline: auto;
  }

  .card__list {
    .card__item {
      flex-basis: 49%;
    }
  }

  .content-widget {
    display: grid !important;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    .number_active {
      // padding-inline: 10px;
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
    margin-inline: auto;
  }

  .card__list {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr !important;
      gap: 10px;
    }
  }

  .user__account {
    h6 {
      display: block;
    }
  }

  .search__btn {
    display: none;
  }

  .search__content {
    display: none;
  }


  .close-btn {
    display: none;
  }

  .content-widget {
    display: grid !important;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    .number_active {
      // padding-inline: 10px;
    }
  }

  .charts {
    .container {
      display: grid !important;
      grid-template-columns: 49% 49%;
      gap: 20px;

      .chart-bar {
        height: fit-content;
      }
    }
  }

  header {

    .middle__header {

      .container {
        position:relative;
        .wrapper
        {

          .center {

            display: block !important;
            .search__content_desktop{
            background: $white;
            width: 500px;
            border-radius: 25px;

            form {
              width: 100%;
      
              .search__input {
                padding-inline-start: 10px;
                padding-block: 12px;
                background: white;
                color: black;
                font-size: var(--fs-8);
                border-radius: 21px;
              }
            }
      
            i {
              background: white;
              color: black;
            }
            
          } 
        }
      }
    }
    }

  
  
  }


.card__body{
  .container{
    .wrapper{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
    
    }


  }
}


}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-inline: auto;
  }

  .card__list {

    position: relative;

    h1{
      color:$white;
      font-size: $fs-5;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
      gap: 10px;
    }
  }

  .menu__fixed{
    &.active{
      width: 300px;
    }
  }


}
