.breadcrumbs {
  background: $white;
  box-shadow: $shadow;
  padding-block-start: 90px;
  padding-block-end: 10px;
  .container {
    padding-inline: 40px;
    padding-block: 20px;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        li:first-child {
          a {
            font-size: $fs-6;
          }
        }
        li:last-child {
          a {
            font-size: $fs-6;
            margin-left: 10px;
            // font-weight: 100;
            font-weight: 900;
          }
        }
        
        .active{
          color: $first-color;
        }

      }
    }
  }
}
