.breadcrumbs {
   
}

.breadcrumbs {
    background: $white;
    box-shadow: $shadow;
    .container{
        padding-inline : 40px;
        padding-block : 20px;
        .wrapper{
            display: flex;
            justify-content: space-between;
            nav{
                font-size: $fs-8;
                align-self: center;
                ol {
                    display:flex;
                    align-items: center;
                    gap:10px;
                }
            } 
        }
        
    }
}
