.responsive__table{
    li{
        display:flex;
        justify-content: space-between;
    }

    .table__header{
        font-size: $fs-7;
        color: $black;
        font-weight: 900;
        background:$silver;
        padding:10px;
    }
    
    .table__row{
        padding-block: 10px;
        font-size: $fs-7;
        a{
            color: $first-color;
            font-weight: $fw-500;
        }
    }

}