#responsive__table{
    overflow-x:auto;
    border-collapse: collapse;
    width: 100%;
    font-size: $fs-8;

    tr{

       
        &:nth-child(even){
            background: $silver;
        }

        &:hover {background-color: #ddd;
        cursor: pointer;}

        th{
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: $first-color;
            color: $white;
            font-size: $fs-7; 
        }
        
        td{
            border:1px solid $silver;
            padding: 10px;   
            font-size: $fs-6; 
        }
    }

}