/* 
        -CSS STYLES
        ------------
        WRITTEN BY SYLVAIN ADANDE

*/
/*--------------------------*/
/*  ANIMATION FOR WEBSITE
/*------------------------*/
@keyframes rotate {
  0% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes notif {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.4); } }

@keyframes fade {
  from {
    opacity: 1;
    transform: translateX(0%); }
  to {
    opacity: 0;
    transform: translateX(-200%); } }

@keyframes left_to_right {
  from {
    opacity: 0;
    transform: translateX(-200%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes right_to_left {
  from {
    opacity: 0;
    transform: translateX(200%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes opacity {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

@keyframes decale {
  from {
    opacity: 7;
    transform: translateX(0); }
  to {
    opacity: 1;
    transform: translateX(50px); } }

@keyframes moveFromBottom {
  from {
    opacity: 0;
    transform: translateY(200%); }
  to {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes moveFromTop {
  from {
    opacity: 0;
    transform: translateY(-200%); }
  to {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(-200%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes growDown {
  0% {
    transform: scaleY(0); }
  80% {
    transform: scaleY(1.1); }
  100% {
    transform: scaleY(1); } }

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  50% {
    transform: rotateX(-20deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg); }
  70% {
    transform: rotateX(20deg); }
  100% {
    transform: rotateX(0deg); } }

@keyframes slideDown {
  0% {
    transform: translateY(-60px); }
  100% {
    transform: translateY(0); } }

@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px); }
  80% {
    transform: translateZ(-10px) transLateY(0px); }
  100% {
    transform: translateZ(0px) transLateY(0px); } }

@keyframes width {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes animMenu {
  0% {
    transform: translate3d(-150px, 0, 0);
    transition: .5s; }
  100% {
    transform: translate3d(0);
    transition: .5s; } }

/* 
        * COULEURS PRINCIPALES
    */
/* 
        * COULEURS AUXILIARES
    */
/* Break point responsive 
    */
/* 
        * GRADIENT
    */
/* 
        * TYPOGRAPIE
    */
/* 
        * SIZES
    */
/* 
        * WEIGHT
    */
/* 
        * SHADOW 
    */
/* 
        * SPACING
    */
/* 
        * BORDER RADIUS
    */
/* 
        * TRANSITIONS
    */
/* 
        *  RESPONSIVE CSS VARIABLES
    */
/* ------------------------
    - RESET CSS
--------------------------*/
html {
  font-family: "Recoleta", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  background: 5px 5px 5px 5px black; }
  html body {
    background: #212a2f;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    color: #212a2f;
    animation: opacity 1s ease; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #292929; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.text-link {
  text-decoration: underline;
  color: #212a2f; }

img {
  height: auto; }

button {
  background: none;
  border: none;
  cursor: pointer; }

em,
strong,
a {
  color: #212a2f; }

h1 {
  color: #212a2f !important;
  font-size: 2rem; }

h2 {
  color: #212a2f;
  font-size: 3rem; }

h3 {
  color: #212a2f;
  font-size: 4rem; }

h4 {
  color: #212a2f;
  font-size: 5rem; }

h5 {
  color: #212a2f;
  font-size: 6rem; }

h6 {
  color: #212a2f;
  font-size: 7rem; }

/* ------------------------
    - RESET CSS
--------------------------*/
html {
  font-family: "Recoleta", sans-serif, "Gordita", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  background: 5px 5px 5px 5px black; }

body {
  background: #212a2f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  color: #212a2f;
  animation: opacity 1s ease; }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #292929; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.text-link {
  text-decoration: underline;
  color: #212a2f; }

img {
  height: auto; }

button {
  background: none;
  border: none;
  cursor: pointer; }

em,
strong,
a {
  color: #212a2f; }

h1 {
  color: #212a2f;
  font-size: 2rem; }

h2 {
  color: #212a2f;
  font-size: 3rem; }

h3 {
  color: #212a2f;
  font-size: 4rem; }

h4 {
  color: #212a2f;
  font-size: 5rem; }

h5 {
  color: #212a2f;
  font-size: 6rem; }

h6 {
  color: #212a2f;
  font-size: 7rem; }

.capitalize:first-letter {
  text-transform: capitalize; }

.icon {
  font-size: 2rem;
  cursor: pointer; }

.icon:hover {
  color: #FF6464; }

.dropdown__btn {
  position: relative; }

.dropdown__content {
  visibility: hidden;
  height: 0;
  position: absolute; }

.dropdown__content.active {
  visibility: visible;
  height: 98px;
  top: 58px;
  left: calc(100% - 273px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 233px;
  background: #fff;
  color: black;
  font-size: 1.2rem;
  animation: growDown 0.2s ease-out;
  z-index: 99999;
  border-radius: 3px;
  box-shadow: 0 12px 30px -10px rgba(36, 36, 36, 0.1); }

.dropdown__content ul {
  display: flex;
  flex-direction: column; }

.dropdown__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  z-index: 999; }

.dropdown__item:hover {
  background: #0f3e58;
  color: #fff; }

.dropdown__content ul li i {
  font-weight: bold;
  font-size: 2rem; }

.dropdown__content ul li span {
  margin-inline-start: 10px;
  font-weight: 300;
  font-size: 2rem; }

img {
  cursor: pointer; }

.img__avatar {
  border-radius: 50%; }

li,
ul {
  cursor: pointer; }

.align-items-end {
  align-items: flex-end; }

.m-l-auto {
  margin-left: auto; }

.icon-large {
  font-size: 5rem;
  font-weight: 500;
  text-shadow: 14px 14px 34px #0f3e58; }

span {
  font-weight: 300; }

.flex-column {
  display: flex;
  flex-direction: column; }

.hide {
  display: none !important;
  cursor: drag; }

.drag-over {
  border: dashed 3px red; }

.ri-logout-circle-r-line {
  color: #ff295b;
  font-weight: bold; }

form {
  width: 100%; }

.search__content {
  transform: translateX(-100%);
  height: 0;
  transition: 0.5s;
  visibility: hidden;
  width: 100vw;
  background: #212a2f;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s; }

.search__content.active {
  transform: translateX(0%);
  height: 100%;
  transition: 0.5s;
  visibility: visible; }

.search__content form {
  line-height: 40px;
  color: #212a2f;
  font-size: 2rem;
  z-index: 999;
  display: flex;
  width: auto; }

.close-btn {
  position: absolute;
  top: 60px;
  background: #212a2f;
  color: #fff;
  font-size: 5rem; }

.btn {
  height: auto;
  cursor: pointer;
  padding-inline: 10px;
  padding-block: 10px;
  border: none; }

.bg {
  background: #fff;
  padding-block: 10px;
  color: #0f3e58;
  border: 1px solid #ebebeb; }

.p-10 {
  padding: 10px; }

.info {
  color: #007bff; }

.btn:hover {
  background: #0f3e58;
  color: #fff; }

.btn-danger {
  background: #dc3545;
  color: #fff;
  padding: 8px; }

.btn-danger:hover {
  background: #212a2f;
  color: #fff; }

.overlay.active {
  position: absolute;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  background: #212a2f; }

i {
  cursor: pointer; }

.close__menufixed {
  color: #fff; }

.close__menufixed:hover {
  background: #0f3e58;
  color: #fff; }

/* INPUT GROUP */
.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px; }

input {
  width: 100%; }

.alert-info {
  display: flex;
  align-items: center;
  color: #212a2f;
  padding-block: 10px; }

.alert-info i {
  color: #17a2b8;
  font-size: 2rem; }

.alert-info p {
  margin-left: 10px; }

input[type="radio"] {
  width: auto; }

.animated:after {
  content: "";
  position: absolute;
  background: #0f3e58;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0;
  transition: width 500ms ease;
  z-index: -1; }

.animated:hover {
  color: #fff; }

.animated:hover:after {
  width: 100%; }

.search__input {
  padding-inline-start: 10px;
  padding-block: 20px;
  background: transparent;
  color: white;
  font-size: 3rem;
  outline: none;
  border: none;
  width: 100%;
  border-width: 0px; }

.text-end {
  margin-left: auto;
  float: right; }

.text-start {
  margin-right: auto;
  float: left; }

.text_left {
  display: none !important;
  position: absolute;
  background: #0c354c;
  color: #fff;
  padding-inline: 4px;
  border-radius: 50%;
  left: -50%;
  border: 1px solid white;
  box-shadow: 0 0 0.8rem black;
  height: 16px;
  width: 16px;
  text-align: center;
  display: flex;
  font-size: 10px; }

.text-center {
  text-align: center; }

.bg-white {
  background: #fff; }

.badge {
  display: inline-block;
  padding: 2px 10px;
  background: #0f3e58;
  color: #fff;
  border-radius: 5px;
  font-weight: 900; }
  .badge.info {
    background: #fff;
    font-size: 1.5rem;
    border-radius: 0px;
    color: #212a2f;
    padding-inline: 0px; }

.round__badge {
  display: inline-block;
  padding: 5px 5px;
  background: #0f3e58;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
  font-size: 0.8rem; }

.red {
  background: #dc3545; }

.yellow {
  background: #ffc107; }

.green {
  background: #28a745; }

.container {
  transition: 1s; }

.p__inline__20 {
  padding-inline: 20px; }

a:hover {
  text-decoration: underline; }

.text__input {
  border: 1px solid silver;
  padding: 5px; }

.flex__item {
  display: flex; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.underline {
  text-decoration: underline; }

.bg-primary {
  background: #0f3e58;
  color: #fff; }

.custom__file {
  border: 1px solid #212a2f;
  padding-block: 10px;
  padding-inline: 10px; }

.custom__file::-webkit-file-upload-button {
  visibility: hidden; }

.custom__file::before {
  content: 'Cliquer ici';
  display: inline-block;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.5rem; }

.custom__file:hover::before {
  cursor: pointer; }

.custom__file:hover {
  cursor: pointer;
  background: #ebebeb;
  color: #212a2f;
  transition: color .6s; }

.preview__image {
  border: 2px dashed #ebebeb;
  padding: 10px; }
  .preview__image img {
    width: 100%;
    height: 100px;
    object-fit: contain; }

.flex__column {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  gap: 20px;
  font-size: medium;
  flex-direction: row; }

.text__content {
  font-size: 1.5rem; }

.large {
  font-size: 1.5rem; }

.link {
  color: #0f3e58;
  text-decoration: underline; }

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px; }
  .switch input {
    opacity: 0;
    height: 0;
    width: 0;
    max-width: 200px; }
    .switch input:checked + .slider {
      background-color: #0f3e58; }
    .switch input:checked + .slider::before {
      transition: .4s;
      transform: translateX(23px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    transition: .4s; }
    .switch .slider::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      left: 4px;
      bottom: 2px;
      transition: .4s;
      transform: translateX(0); }
    .switch .slider.round {
      border-radius: 34px; }
      .switch .slider.round::before {
        border-radius: 50%; }

.m-l-10 {
  margin-inline-start: 20px; }

.fs_8 {
  font-size: 1.2rem; }

.inherit {
  display: flex;
  flex-direction: column;
  gap: inherit; }

.show {
  display: show !important;
  animation: growDown .5s ease; }

.col-12 {
  flex: 1; }

.grid-none {
  grid-template-columns: 1fr !important; }

.btn-success {
  background: #0f3e58;
  color: #fff; }

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; }

.btn-secondary {
  border: 1px solid #212a2f; }

.align-center {
  text-align: center; }

.preview__link {
  background: #ebebeb;
  color: #212a2f;
  padding: 10px;
  font-weight: bold; }
  .preview__link a {
    color: #0f3e58;
    font-size: 1.5rem; }

.d-inherit {
  display: inherit !important;
  grid-template-columns: auto; }

.m-b-10 {
  margin-block: 10px; }

.badge {
  background: #0f3e58;
  color: #fff; }

.btn__fill {
  background: #0f3e58;
  color: #fff;
  padding: 10px; }

.role {
  position: relative;
  cursor: pointer; }
  .role .tooltip {
    position: absolute;
    left: 100%;
    top: -30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid silver;
    padding-block: 5px;
    padding-inline: 5px;
    z-index: 999999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #ebebeb;
    visibility: hidden; }
    .role .tooltip .header {
      padding-block: 10px;
      text-align: center;
      border-bottom: 1px solid silver;
      font-size: 2rem; }
    .role .tooltip .content {
      display: flex;
      justify-content: center;
      gap: 10px; }
    .role .tooltip .arrow::before {
      position: absolute;
      content: '';
      top: 40%;
      left: -11%;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #212a2f transparent transparent;
      border-right-color: #0f3e58; }
  .role:hover .tooltip {
    visibility: visible; }

.version {
  color: #fff;
  background: #0f3e58;
  padding: 5px; }

.success {
  color: #28a745;
  font-weight: bolder; }

.danger {
  font-weight: bolder;
  color: #dc3545; }

.justify-space-between {
  justify-content: space-between; }

.center {
  justify-content: center;
  text-align: center; }

.left {
  justify-content: left;
  text-align: left; }

.w__50 {
  width: 50px; }

.bg__color {
  background: #0f3e58;
  color: #fff;
  padding-inline: 10px; }

.align-center {
  text-align: center !important; }

.pd__inline__10 {
  padding-inline: 10px; }

.input__radio {
  font-size: 20px; }

.w_100 {
  width: 100%; }

.m-l-10 {
  margin-left: 10px; }

.btn-primary {
  background: #0f3e58;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content; }

input[type="checkbox"] {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #0f3e58; }
  input[type="checkbox"]:checked {
    color: #0f3e58; }

.custom__checkox {
  padding: 10px;
  border: 2px solid #0f3e58; }

.child td ul {
  width: max-content; }
  .child td ul li {
    display: flex;
    justify-content: space-between;
    gap: 20px; }
    .child td ul li span {
      margin-left: 20px; }
    .child td ul li div {
      margin-left: 20px;
      display: flex;
      gap: 10px; }

.pagination {
  display: flex;
  justify-content: center;
  padding-block: 20px; }
  .pagination ul {
    display: flex;
    flex-direction: row;
    gap: 20px; }
    .pagination ul li {
      display: flex;
      align-items: center; }
      .pagination ul li i {
        color: #fff;
        align-self: center; }
        .pagination ul li i:hover {
          transform: scale(1.2); }
      .pagination ul li a {
        color: #fff;
        font-size: 3rem; }
        .pagination ul li a.active {
          background: #fff;
          padding-inline: 10px;
          color: #0f3e58;
          border-radius: 50%; }

.d-none {
  display: none; }

.flex__colum {
  display: flex;
  flex-direction: column; }

.flex__row {
  display: flex;
  flex-direction: row;
  flex-direction: row; }

.p-l-10 {
  padding-left: 10px; }

.p-t-10 {
  padding-top: 10px; }

input {
  outline: none;
  border: 2px solid #212a2f;
  padding: 10px; }

select {
  outline: none;
  border: 2px solid #212a2f;
  padding: 10px;
  background: transparent;
  min-width: 200px; }
  select option {
    background: #fff;
    border: none;
    outline: none; }
    select option:checked {
      background: #0f3e58; }
    select option:not(:checked) {
      background: #fff; }
    select option:active {
      background: #0f3e58; }

.rating_wrap {
  position: relative;
  width: 100px;
  display: flex;
  align-items: center; }
  .rating_wrap .ratings {
    position: absolute; }
  .rating_wrap .product_rate {
    position: absolute; }
    .rating_wrap .product_rate i {
      color: orange; }

.d-inline-block {
  display: inline-block; }

input[type="color"] {
  appearance: none;
  background-color: transparent;
  width: 61px;
  height: auto;
  cursor: pointer;
  border: none;
  outline: none;
  padding: initial;
  border: 2px solid black; }

.no__gap {
  gap: 0; }

/* HEADER TOP */
header .top__header {
  background: #fff;
  color: #212a2f;
  display: none; }
  header .top__header .container {
    padding-block: 10px;
    padding-inline: 20px; }
    header .top__header .container .wrapper {
      display: flex;
      justify-content: center; }
      header .top__header .container .wrapper p {
        text-align: center; }

header .middle__header {
  background: #0f3e58;
  color: #fff;
  position: absolute;
  width: -webkit-fill-available;
  height: 150px;
  animation: show 0.4s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  z-index: 99; }
  header .middle__header .container {
    padding-block: 20px;
    padding-inline: 40px; }
    header .middle__header .container .wrapper {
      display: flex;
      justify-content: space-between;
      position: relative; }
      header .middle__header .container .wrapper .left {
        display: flex;
        justify-content: space-between;
        column-gap: 30px; }
      header .middle__header .container .wrapper .center {
        display: none; }
      header .middle__header .container .wrapper .right {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        align-items: center; }
        header .middle__header .container .wrapper .right .commandes__button {
          position: relative; }
          header .middle__header .container .wrapper .right .commandes__button i {
            color: #fff; }
          header .middle__header .container .wrapper .right .commandes__button .indicator__value {
            background: #ff295b;
            color: #fff;
            width: 8px;
            height: 8px;
            border-radius: 25px;
            position: absolute;
            top: 0;
            left: 19px;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            animation: notif 1s infinite; }
        header .middle__header .container .wrapper .right .user__account {
          display: flex;
          gap: 20px;
          align-items: center; }
          header .middle__header .container .wrapper .right .user__account h6 {
            color: #fff; }
      header .middle__header .container .wrapper .icon {
        font-weight: bold; }

.mobile__menu {
  width: 100vw;
  height: 100vh;
  background: #0f3e58;
  display: none; }

/* Menu Fixed  */
.menu__fixed {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: #fff;
  color: #212a2f;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  z-index: 99999;
  /* fade */
  visibility: hidden;
  height: 0;
  transform: translate(-100%);
  transition: all, 0.4s; }

.menu__fixed {
  background: #0f3e58; }
  .menu__fixed h6, .menu__fixed p, .menu__fixed i {
    color: #fff; }
  .menu__fixed.active {
    visibility: visible;
    height: 100vh;
    transform: translate(0);
    transition: 0.3s;
    width: 200px; }
  .menu__fixed .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    height: 100%; }
    .menu__fixed .wrapper .header {
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
      padding-block: 20px;
      padding-inline: 20px;
      align-items: center; }
      .menu__fixed .wrapper .header .logo h6 {
        text-transform: capitalize;
        font-weight: bold;
        font-family: "Gordita", sans-serif;
        font-size: small;
        color: #fff; }
    .menu__fixed .wrapper .menu__container ul {
      display: flex;
      flex-direction: column;
      row-gap: 20px; }
      .menu__fixed .wrapper .menu__container ul .menu__item.active {
        background: #fff;
        border-radius: 5px;
        margin-inline: 20px; }
        .menu__fixed .wrapper .menu__container ul .menu__item.active :is(i, h6) {
          color: #212a2f; }
      .menu__fixed .wrapper .menu__container ul .menu__item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        padding-block: 10px;
        justify-content: center; }
      .menu__fixed .wrapper .menu__container ul .menu__item h6 {
        font-weight: 900;
        font-size: 1.5rem;
        text-transform: capitalize; }
      .menu__fixed .wrapper .menu__container ul .menu__item p {
        font-weight: 900;
        font-size: 1.2rem;
        text-transform: capitalize;
        padding-block: 20px;
        padding-inline: 20px;
        color: #ebebeb; }
      .menu__fixed .wrapper .menu__container ul .menu__item .ri-arrow-right-s-line {
        margin-left: auto; }
      .menu__fixed .wrapper .menu__container ul .menu__item .ri-arrow-down-s-line {
        display: none; }
      .menu__fixed .wrapper .menu__container ul .menu__item:is(:hover, :focus-visible) {
        background: #fff;
        border-radius: 5px;
        margin-inline: 20px; }
        .menu__fixed .wrapper .menu__container ul .menu__item:is(:hover, :focus-visible) :is(i, h6) {
          color: #212a2f; }
        .menu__fixed .wrapper .menu__container ul .menu__item:is(:hover, :focus-visible) a {
          animation: growDown .2s ease; }
      .menu__fixed .wrapper .menu__container ul .menu__item .sub__menu {
        display: none;
        padding-inline-start: 20px;
        padding-left: 30px; }
        .menu__fixed .wrapper .menu__container ul .menu__item .sub__menu li {
          padding-block: 10px; }
          .menu__fixed .wrapper .menu__container ul .menu__item .sub__menu li a {
            font-size: 13px; }
          .menu__fixed .wrapper .menu__container ul .menu__item .sub__menu li:hover a {
            color: #fff;
            padding-inline-start: 20px;
            font-weight: bold;
            transition: 1s; }
    .menu__fixed .wrapper .footer {
      margin-top: auto;
      display: flex;
      font-size: 1.5rem;
      justify-content: center; }

.card__list {
  position: relative; }

.card__list .container {
  padding-inline: 40px;
  padding-block-start: 90px;
  padding-block-end: 10px; }
  .card__list .container .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; }
    .card__list .container .wrapper .card__item {
      background: #fff;
      color: #212a2f;
      box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
      padding: 40px;
      width: 100%;
      cursor: pointer;
      border-radius: 3px;
      z-index: 99; }
      .card__list .container .wrapper .card__item .content__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; }
        .card__list .container .wrapper .card__item .content__item span {
          font-size: 3rem;
          font-weight: bold; }
        .card__list .container .wrapper .card__item .content__item .icon-large {
          color: #0f3e58; }
        .card__list .container .wrapper .card__item .content__item h6 {
          font-size: 1.5rem;
          font-weight: 100; }
      .card__list .container .wrapper .card__item:hover {
        z-index: 99;
        border: 2px solid #fff;
        background: #212a2f; }
        .card__list .container .wrapper .card__item:hover :is(h6, span, .icon-large, p) {
          color: #fff; }

.widgets.charts .container {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.widgets .container {
  padding-inline: 40px;
  padding-block: 10px; }
  .widgets .container .wrapper {
    display: flex;
    flex-direction: column; }
    .widgets .container .wrapper.chart-bar {
      gap: 20px; }
    .widgets .container .wrapper h6 {
      font-size: 1.2rem;
      padding-block: 10px;
      text-align: center; }
    .widgets .container .wrapper .header-widget {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #212a2f;
      padding-inline: 20px;
      padding-block: 10px; }
    .widgets .container .wrapper .content-widget {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%; }
      .widgets .container .wrapper .content-widget .number_active {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0f3e58;
        margin: 20px;
        padding: 40px;
        width: 100%; }
        .widgets .container .wrapper .content-widget .number_active p {
          color: #fff;
          font-size: 3rem; }
      .widgets .container .wrapper .content-widget .details {
        width: 100%;
        padding: 20px; }
        .widgets .container .wrapper .content-widget .details table {
          width: 100%; }
          .widgets .container .wrapper .content-widget .details table thead {
            border-bottom: 1px solid #ebebeb;
            padding-block: 10px; }
          .widgets .container .wrapper .content-widget .details table :is(td, th) {
            font-size: 1.5rem; }
          .widgets .container .wrapper .content-widget .details table .text-end {
            margin-left: -100px; }
    .widgets .container .wrapper #myChart {
      padding-inline: 20px; }

header .middle__header.pages {
  height: auto; }

.parametres .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .parametres .card__item a {
    text-align: center; }
    .parametres .card__item a h6 {
      font-size: 2rem; }
    .parametres .card__item a p {
      font-size: 1.5rem;
      text-align: center; }
  .parametres .card__item:hover {
    background: #ebebeb; }

.card__body .container {
  padding-inline: 40px;
  padding-block: 20px; }
  .card__body .container h1 {
    color: #fff;
    font-size: 2rem; }
  .card__body .container .wrapper .card__content {
    margin-block: 10px;
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 1px;
    background: #fff;
    color: #212a2f;
    height: fit-content;
    overflow: auto; }
    .card__body .container .wrapper .card__content.p__i__0 {
      padding-inline: 0 !important; }
    .card__body .container .wrapper .card__content .widget__title {
      border-bottom: 1px solid #212a2f;
      padding-inline-start: 20px; }
    .card__body .container .wrapper .card__content .widget__body {
      padding-block-start: 10px;
      padding-inline: 20px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: space-between; }
      .card__body .container .wrapper .card__content .widget__bodybutton {
        display: flex; }
    .card__body .container .wrapper .card__content td, .card__body .container .wrapper .card__content th {
      text-align: center; }
    .card__body .container .wrapper .card__content .items {
      visibility: hidden;
      height: 0;
      flex-direction: column;
      gap: inherit; }
      .card__body .container .wrapper .card__content .items.active {
        animation: notif .5s ease-in-out;
        visibility: visible;
        height: 100%; }
    .card__body .container .wrapper .card__content form {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .card__body .container .wrapper .card__content form label {
        font-size: 1.5rem; }
    .card__body .container .wrapper .card__content h2 {
      margin-block-end: 10px;
      font-size: 1.5rem; }

.breadcrumbs {
  background: #fff;
  box-shadow: 0 12px 30px -10px rgba(36, 36, 36, 0.1);
  padding-block-start: 90px;
  padding-block-end: 10px; }
  .breadcrumbs .container {
    padding-inline: 40px;
    padding-block: 20px; }
    .breadcrumbs .container nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      .breadcrumbs .container nav ul li:first-child a {
        font-size: 2rem; }
      .breadcrumbs .container nav ul li:last-child a {
        font-size: 2rem;
        margin-left: 10px;
        font-weight: 900; }
      .breadcrumbs .container nav ul .active {
        color: #0f3e58; }

#responsive__table {
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem; }
  #responsive__table tr:nth-child(even) {
    background: #ebebeb; }
  #responsive__table tr:hover {
    background-color: #ddd;
    cursor: pointer; }
  #responsive__table tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0f3e58;
    color: #fff; }
  #responsive__table tr td {
    border: 1px solid #ebebeb;
    padding: 10px; }

.rv-media-main-wrapper .rv-media-top-header {
  display: flex; }
  .rv-media-main-wrapper .rv-media-top-header .rv-media-actions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; }
    .rv-media-main-wrapper .rv-media-top-header .rv-media-actions button {
      display: flex;
      align-items: center;
      gap: 10px; }
      .rv-media-main-wrapper .rv-media-top-header .rv-media-actions button:hover {
        background: #fff;
        color: #0f3e58; }
    .rv-media-main-wrapper .rv-media-top-header .rv-media-actions .btn-group ul {
      position: absolute;
      visibility: hidden;
      height: 0;
      background: #fff; }
    .rv-media-main-wrapper .rv-media-top-header .rv-media-actions .btn-group:hover ul {
      visibility: visible;
      width: 150px;
      padding-inline: 10px;
      box-shadow: 5px 5px 5px 5px black;
      z-index: 999999;
      height: auto; }
      .rv-media-main-wrapper .rv-media-top-header .rv-media-actions .btn-group:hover ul li {
        padding-block: 5px; }
        .rv-media-main-wrapper .rv-media-top-header .rv-media-actions .btn-group:hover ul li a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          color: #212a2f;
          font-size: 1.5rem; }
  .rv-media-main-wrapper .rv-media-top-header .rv-media-search {
    margin-left: auto; }
    .rv-media-main-wrapper .rv-media-top-header .rv-media-search form {
      position: relative; }
      .rv-media-main-wrapper .rv-media-top-header .rv-media-search form button {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 33px;
        padding-inline: 10px; }
      .rv-media-main-wrapper .rv-media-top-header .rv-media-search form input {
        border: 1px solid #212a2f;
        line-height: 23px; }

.rv-media-main-wrapper .rv-media-bottom-header {
  display: flex;
  flex-direction: row;
  background: #fff;
  margin-block-start: 20px;
  align-items: center;
  padding-inline: 10px; }
  .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    padding-block: 10px;
    gap: 10px;
    flex-wrap: wrap; }
    .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group {
      display: flex; }
      .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown {
        position: relative; }
        .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown button {
          display: flex;
          align-items: center; }
        .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown ul {
          position: absolute;
          visibility: hidden;
          height: 0; }
          .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown ul a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            color: #212a2f;
            font-size: 1.5rem; }
        .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown:hover ul {
          visibility: visible;
          width: 150px;
          padding-inline: 10px;
          box-shadow: 5px 5px 5px 5px black;
          z-index: 999999;
          height: auto;
          background: #fff;
          font-size: 1.2rem;
          padding-block: 5px; }
          .rv-media-main-wrapper .rv-media-bottom-header .rv-media-tools .btn-group .dropdown:hover ul li {
            padding-block-end: 5px; }

.rv-media-main-wrapper .rv-media-main {
  border: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 1fr auto;
  background: #fff; }
  .rv-media-main-wrapper .rv-media-main .rv-media-grid ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li {
      position: relative;
      background: #ebebeb;
      margin: 5px; }
      .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item {
        background: rgba(219, 219, 219, 0.3); }
        .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .media-item {
          position: absolute;
          height: 25px;
          width: 25px;
          top: 5px;
          right: 5px;
          background: #0f3e58;
          padding: 5px;
          border-radius: 50%;
          visibility: hidden; }
          .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .media-item svg {
            fill: #fff; }
        .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .rv-media-thumbnail {
          padding-inline: 20px;
          padding-block: 5px; }
          .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .rv-media-thumbnail i {
            font-size: 80px; }
        .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .rv-media-description {
          padding-inline: 30px;
          padding-block: 10px;
          background: #ddd; }
          .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item .rv-media-description .title {
            font-size: 1.5rem; }
        .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item:hover {
          border: 1px solid #0f3e58; }
          .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item:hover .rv-media-description {
            background: #0f3e58;
            color: #fff; }
          .rv-media-main-wrapper .rv-media-main .rv-media-grid ul li .rv-media-item:hover .media-item {
            visibility: visible; }
  .rv-media-main-wrapper .rv-media-main .rv-media-details {
    border-left: 1px solid #ebebeb; }
    .rv-media-main-wrapper .rv-media-main .rv-media-details .rv-media-thumbnail {
      padding: 40px;
      border-bottom: 1px solid #ebebeb; }
      .rv-media-main-wrapper .rv-media-main .rv-media-details .rv-media-thumbnail i {
        font-size: 7rem; }
    .rv-media-main-wrapper .rv-media-main .rv-media-details .rv-media-description {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .rv-media-main-wrapper .rv-media-main .rv-media-details .rv-media-description p {
        font-size: 1.5rem; }

.modal {
  position: absolute;
  top: 20%;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; }
  .modal .modal-content {
    background: #fff;
    box-shadow: 0 0 0.5rem black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 450px; }
    .modal .modal-content .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      background: #0f3e58;
      padding-inline: 10px;
      padding-block: 5px;
      width: 100%;
      align-items: center; }
      .modal .modal-content .modal-header .modal-title {
        color: #fff !important;
        font-size: 20px; }
      .modal .modal-content .modal-header i {
        color: #fff;
        font-size: 30px; }
    .modal .modal-content .modal-body {
      font-size: 16px;
      padding-inline: 10px; }
    .modal .modal-content .modal-footer {
      display: flex;
      gap: 10px;
      margin-block-end: 10px; }

.form__body {
  display: flex;
  flex-direction: column;
  gap: 30px; }
  .form__body .form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px; }
    .form__body .form__group label {
      font-size: 2rem;
      display: flex;
      gap: 10px; }
      .form__body .form__group label.required::after {
        content: '*';
        color: #dc3545; }
    .form__body .form__group small {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem; }

.rules {
  border-left: 3px solid #ebebeb;
  padding-inline-start: 20px; }

@media (min-width: 575px) {
  .container {
    max-width: 540px;
    margin-inline: auto; }
  .card__list .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 10px; }
  .dropdown__content.active {
    left: calc(100% - 345px); } }

@media (min-width: 768px) {
  .container {
    max-width: 740px;
    margin-inline: auto; }
  .card__list .card__item {
    flex-basis: 49%; }
  .content-widget {
    display: grid !important;
    grid-template-columns: 200px 1fr;
    gap: 20px; }
  .dataTables_filter {
    display: block !important;
    padding: 0;
    position: absolute;
    top: -10px !important;
    right: 0;
    text-align: none !important; }
  .wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px;
    margin-inline: auto; }
  .user__account h6 {
    display: block; }
  .search__btn {
    display: none; }
  .search__content {
    display: none; }
  .close-btn {
    display: none; }
  .content-widget {
    display: grid !important;
    grid-template-columns: 200px 1fr;
    gap: 20px; }
  .charts .container {
    display: grid !important;
    grid-template-columns: 49% 49%;
    gap: 20px; }
    .charts .container .chart-bar {
      height: fit-content; }
  header .middle__header .container {
    position: relative; }
    header .middle__header .container .wrapper .center {
      display: block !important; }
      header .middle__header .container .wrapper .center .search__content_desktop {
        background: #fff;
        width: 500px;
        border-radius: 25px; }
        header .middle__header .container .wrapper .center .search__content_desktop form {
          width: 100%; }
          header .middle__header .container .wrapper .center .search__content_desktop form .search__input {
            padding-inline-start: 10px;
            padding-block: 12px;
            background: white;
            color: black;
            font-size: var(--fs-8);
            border-radius: 21px; }
        header .middle__header .container .wrapper .center .search__content_desktop i {
          background: white;
          color: black; }
  .card__body .container .wrapper {
    display: grid;
    gap: 10px; }
  table .text_left {
    display: none; }
  table .child {
    display: none; }
  table tr th.hide {
    display: block !important; }
  table tr td.hide {
    display: block !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-inline: auto; }
  .card__list {
    position: relative; }
    .card__list h1 {
      color: #fff;
      font-size: 3rem; }
    .card__list .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
      gap: 10px; }
  .menu__fixed.active {
    width: 300px; } }
